#product{
    transition: 2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#card{
    transition: 2s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: 2s;
}
#menu-1{
    transition: 2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#menu-2{
    transition: 2s cubic-bezier(0.39, 0.575, 0.565, 1);
}